#shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.normal-title {
    color: blue;
}

.focus-title {
    color: red;
}